@font-face {
  font-family: 'Manrope', sans-serif;
}

body {
  margin-left: 50px;
  margin-right: 50px;
}

header {
  font-family: 'Manrope', sans-serif;
}

h3 {
  font-family: 'Manrope', sans-serif;
}

nav {
  margin: 0 auto;
  list-style-type: none;
  padding: 5px 5px 5px 0px;
  position: left;
}

img {
  margin-top: 10px;
  width: 100%;
}
p {
  padding: 10px 10px 5px 10px;
  font-family: 'Manrope', sans-serif;
  color: #63666a;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.article-name {
  font-size: 32px;
  font-weight: 200;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

.continue {
  font-family: 'Manrope', sans-serif;
  position: right;
  padding-bottom: 20px;
  text-align: right;
  color: tomato;
}

.date h2 {
  color: #a9a9a9;
  font-size: 36px;
  font-weight: 100;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 0;
  margin-top: 50px;
}

.drop-cap::first-letter {
  -webkit-initial-letter: 4;
  initial-letter: 4;
  color: gray;
  font-weight: bold;
  margin-right: 0.75em;
}

.footer-nav a {
  padding: 0;
  margin: 0;
  color: #de7e5d;
}

.footer-nav li {
  display: inline;
  list-style-type: none;
  list-style-position: left;
  padding-right: 0px;
  width: 5px;
}

.footer-nav-link:after {
  content: '|';
  padding: 0 5px;
}

.footer-nav-link::before {
  padding: 0;
}

.header-nav a {
  color: #a9a9a9;
  position: left;
  padding-right: 10px;
}

.header-nav li {
  display: inline;
  list-style-type: none;
  list-style-position: left;
}

.page-header {
  font-family: 'Manrope', sans-serif;
  font-weight: 100;
}

.page-header h1 {
  font-weight: 200;
  font-family: 'Manrope', sans-serif;
  color: tomato;
  letter-spacing: 2px;
}

.page-header h2 {
  font-weight: 100;
  font-family: 'Manrope', sans-serif;
}
