html {
    border-left: 5px solid lightgrey;

}

body {
    min-height: 100%;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;

}

header, main, footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

}
header ul{
    display:flex;
    justify-content: space-evenly;
}

h1 {
    color: tomato;
}

img {
    width: 100%;
}

nav {
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0%;
}

.header_anchortags {
    color: lightgray;
}

.blogpost {
    font-size: 35px;
    color:black;
    font-family: Arial;
}


article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
}

.cont {
    text-align:right;
    color: tomato;
    font-weight:bold;
    
}

footer ul{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.footer_anchortags {
    color: tomato;
    text-decoration: none;
}

.firstletter {
    float:initial;
    font-size: 100px;
    font-family: Arial, sans-serif;
    color:lightgray;

}

.copy {
    color:lightgrey;
    font-size: 15px;
}